* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(./img/weekend.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.29);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;

    font-size: 25px;
    color: white;
}

.logo a span {
    color: cornflowerblue;
    font-weight: bold;

}

.menu-items nav ul {
    width: 100%;
    list-style: none;
    display: flex
}

.menu-items nav ul li {
    height: 50px;
}

.menu-items nav ul li a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.menu-items li:hover {
    background: rgba(255, 255, 255, 0.235);
    border-radius: 10px;
    

}

.btn {
    display: flex;
    align-items: center;
}

.btn button {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.265);
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    cursor: pointer;

}

.btn button:hover {
    background: #5b5a5a;
    transition: all 0.3s ease-out;
}

.menuIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;
}

.menuIcon img {
    width: 30px;
    height: 30px;
    background: none;

}

.sidbar {
    position: fixed;
    top: 10;
    left:-100%;
    height: 100vh;
    width: 250px;
    z-index: 999;
    padding: 0 30px;
    background: rgba(0, 0, 0, 0.29);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;

}

.sidbar li {
    width: 100%;
    list-style: none;
    margin-top: 15px;
    padding: 10px 10px;
    cursor: pointer;
}

.sidbar a {
    width: 100%;
    text-decoration: none;
    color: white;

}


.sidbar li:hover {
    background: rgba(255, 255, 255, 0.235);
    border-radius: 7px;
}

.sidbarBtn {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidbarBtn button {
    padding: 10px 20px;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.265);
    border-radius: 10px;
    cursor: pointer;
}

.sidbarBtn button:hover {
    background: #5b5a5a;
    transition: all 0.3s ease-out;
}

/* #sidbar {
    display: none;
} */

#sidbar.active {
 left: 0;
   
}


@media (max-width:400px) {
    header {
        padding: 10px;
    }

    .sidbar {
        width: 90%;
        padding: 10px 10px;
    }
}

@media(max-width:800px) {

    .menu-items,
    .btn {
        display: none;
    }

    .menuIcon {
        display: block;
    }
}